body {
  background-color: #ecf0f1;
  background-repeat: repeat-y;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: whitesmoke;
  margin: 0px;
}

body > div {
  background-color: rgba(0, 0, 0, 0.6);
  width: 75vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.btn {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.clicked {
  color: #7f8c8d;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

.js-clock {
  font-size: 40px;
}

h1 {
  margin: 10px 0px;
}

.weatherSpan {
  font-size: 34px;
}

.title {
  font-size: 82px;
}
.js-title {
  font-size: 124px;
}

.js-toDoContainer {
  display: flex;
  flex-direction: column;
}

input {
  width: 60vw;
  height: 3.5vh;
  display: block;
  margin: 2px;
  padding: 5px;
  font-family: "Lora";
  font-size: 18px;
  border: 2px solid white;
  border-radius: 10px;
  background: transparent;
  color: white;
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: white;
  font-style: italic;
}

ul {
  list-style: none;
  padding-left: 0px;
}

ul li {
  font-size: 42px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0 2vw;
}

ul li span {
  width: 100%;
}

ul li button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
  font-size: 70px;
  margin-left: 5vw;
}

.js-toDoListContainer {
  width: 70vw;
  height: 26vh;
  overflow-y: scroll;
  background-color: rgba(121, 127, 122, 0.75);
}

@media screen and (max-width: 1360px) {
  #forMobile {
    display: none;
    visibility: hidden;
  }
}

#forMobile {
  color: #fff;
  text-decoration: none;
  outline: none;
}

#forMobile:hover,
#forMobile:active {
  text-decoration: none;
  color: #fff;
  background-color: #f59000;
}
